In [1]:
#Life expectancy for dogs
#Breed, Sex, Age, Heart Disease, Hereditary illness, weight, size

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

In [3]:
dogdata = pd.read_csv('./input/dogdata.csv')

In [10]:
dogdata.head(100)

,id,race,sex,age,weight,heart disease,hereditary illness,size
0,1,SHIBA,Female,22,36,True,True,86
1,2,BOLOGNESE,Female,3,21,False,False,146
2,3,SHIBA,Male,9,27,True,True,113
3,4,BOLOGNESE,Female,4,38,False,False,200
4,5,SHIH TZU,Female,9,27,False,False,184
...,...,...,...,...,...,...,...,...
95,96,CHOW CHOW,Female,14,22,True,True,195
96,97,SHIBA,Male,8,34,False,False,57
97,98,SHIH TZU,Male,4,7,True,False,42
98,99,BOLOGNESE,Female,14,32,True,True,162
99,100,SHIBA,Male,13,6,False,True,80

In [6]:
dogdata.shape

(1000, 8)

In [9]:
x = pd.DataFrame(dogdata.data[:, :], columns = dogdata.feature_names[ : ])
y = pd.DataFrame(iris.target, columns = ["Species"])

AttributeError: 'DataFrame' object has no attribute 'data'

In [11]:
tree = DecisionTreeClassifier(max_depth = 2)
tree.fit(x,y)

NameError: name 'x' is not defined

In [12]:
from sklearn.tree import export_graphviz
# Creates dot file named tree.dot

export_graphviz(
    tree,
    out_file = "myTree.dot",
    feature_names = list(x.columns),
    class_names = iris.target_names,
    filled = True,
    rounded = True)

NameError: name 'x' is not defined